:root {
	--text-color: #111111;
	--background-color: #ffffff;
	--invert-svg: 0;
	--invert-invert-svg: 1;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Red Hat Display', sans-serif;
}

* p, * h1, * h2, * i, * label, * img {
	color: var(--text-color);
}

* svg {
	filter: invert(var(--invert-svg));
}

.bottom-bar img {
	filter: invert(var(--invert-svg));
}

.top-bar img {
	filter: invert(var(--invert-svg));
}

.info-profil {
	background-color: var(--background-color);
}

.info-profil p {
	color: var(--text-color);
}

.container {
	background-color: var(--background-color);
}

.min-info img {
	filter: invert(var(--invert-svg));
}

.profile-popup {
	background-color: var(--background-color);
}

#main-info-scroll{
	color: var(--text-color);
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background: var(--text-color);
	border-radius: 4px;
}
::-webkit-scrollbar-track {
	background: var(--background-color);
}

main {
	background-color: var(--background-color);
	color: var(--text-color);
}

.main {
	background-color: var(--background-color);
	color: var(--text-color);
}

body {
	font-size: 26px;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: var(--background-color);
}

.text {
	font-size: 1.1rem;
	font-weight: 600;
}

.input-text {
	font-size: 1rem;
	font-weight: 600;
	color: #5E5E5E;
	background-color: #D9D9D9;
	border-radius: 0.9rem;
	text-decoration: none;
	border: none;
	padding: 0.7rem 1rem;
	height: 3rem;
	width: 80%;
	display: flex;
	align-items: center;
}

.next-button {
	/* background-color: #D9D9D9; */
	border-radius: 1.5rem;
	padding: 1.3rem;
	text-decoration: none;
	border: none;
	display: flex;
	align-items: center;
	transition: background-color 0.3s;
}

.next-button:hover {
	background-color: #c9c9c9;
}

.next-button svg {
	/* color: #111111; */
	transform: scale(2);
}

.small-text {
	font-size: 0.9rem;
	font-weight: 600;
}

.input-slider {
	width: 100vw;
	/* max-width: 35rem; */
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	/* left: 50%; */
	/* transform: translateX(-50%); */
}